<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a *ngFor="let item of brands" (click)="getModels(item.id)"
                class="list-group-item list-group-item-action">{{item.name}}</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="container" *ngIf="models">
            <div class="row">
                <div class="col-sm-3" *ngFor="let item of models">
                    <div class="card" style="width: 16rem;">
                        <img src="{{item.imageUrl}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">Model Year: {{item.modelYear}}</p>
                            <p class="card-text">Daily Price: {{item.dailyPrice}}</p>
                            <a class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>