<p>counter works!</p>
<!--Ng template çağrılmadığı sürece çalışmaz.-->
<!-- <ng-container *ngTemplateOutlet="counterTemplate"></ng-container> -->
<ng-template #counterTemplate>Counter: {{counter}}

    <br>
    <button (click)="sumCounter(1)">+</button>
    <button (click)="sumCounter(-1)">-</button>

    <!-- <p *ngIf = "counter === 0">
        Counter is zero
    </p>
    <p *ngIf = "counter > 0">
        Counter is positive
    </p>
    
    ßAngular 17
    @if(counter <0){
        <p>Counter is negative</p>
    } -->

    <p *ngIf="isCounterZero">
        Counter is zero
    </p>
    <p *ngIf="isCounterPositive">
        Counter is positive
    </p>

    <!--Angular 17-->
    @if(isCounterNegative){
    <p>Counter is negative</p>
    }
</ng-template>